// ==========================================================================
// Variables Declaration
// ==========================================================================

// descriptive color vars
$white			: white;
$silver			: silver;
$gray			: gray;
$coolwhite 		: #ECF0F1;
$pink			: #E74C3C;
$lightblue		: #2980B9;
$blue			: #3498DB;
$brightred		: #d24d57;
$darkgrey		: #555;
$navy			: #2C3E50;
$transparent	: transparent;

// functional color vars
$color-title		: $pink;
$color-bg			: $coolwhite;
$color-text			: $darkgrey;
$color-hover		: $brightred;
$color-section		: $lightblue;
$color-nav			: $navy;
$color-trans		: $transparent;
$color-skill-bg		: $blue;
$color-skill		: $white;
$color-photo-border	: $silver;
$color-photo-shadow	: $gray;
$color-mobile-nav-bg: $white;


// media queries
$mq-desktop		: 'only screen and (min-width: 1024px)';
$mq-tablet		: 'only screen and (min-width: 768px)';
$mq-mobile		: 'only screen and (max-width: 425px)';

// fonts
$stack-sans-serif	: Helvetica, Arial, sans-serif;
$stack-open-sans	: 'Open Sans', $stack-sans-serif;
$base-font-size		: 1em;

// paddings & margins
$basemargin			: 1.5rem;
$page-item-padding	: 1rem 1.5rem;
