
// ==========================================================================
// Skill 
// ==========================================================================

ul.skills { 
	padding: 1rem; 

	li {
		border-radius: 7px;
		display: inline-block;
		background: $color-skill-bg;
		color: $color-skill;
		padding: 5px 10px;
		margin: 2px;
	}
}